body {
    margin: 0;
    background-image: url("corn-field.jpg");
    background-size: 100%;
    background-position: relative;
    max-width: 100%;
    max-width: 100%;
}  
p{
    font-size: 20px;
    width: 50%;
    margin: auto;
}  
#title{
    font-size: 80px;
    text-shadow: 3px 6px 6px #FFFFFF;
    padding-top: 80px;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    margin: auto;
    max-width: fit-content;
}
#content {
    overflow-wrap: break-word;
    background-color: rgba(255,255,255,0.75);
    margin: auto;
    width: 60%;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px}
#structure{
    max-width: 100%;
    max-height: 100%;
    background-color: white;
    background-image: url("Methomyl_Structural_Formulae_.V.1.png");
    background-size: 100%;
    position: absolute;
    width: 90px;
    height: 90px;
    left: -120px;
    bottom: 20px;
    border: 4px;
    border-color: black;
    border-radius: 50%}
#structure1{
    max-width: 100%;
    max-height: 100%;
    background-color: white;
    background-image: url("Methomyl_Structural_Formulae_.V.1.png");
    background-size: 100%;
    position: absolute;
    width: 90px;
    height: 90px;
    right: -120px;
    bottom: 20px;
    border: 4px;
    border-color: black;
    border-radius: 50%;}
#header{
    position: fixed;
    right: 5%;   
    top: 2%;
    height: 5%;}
#header > #button{
    height: 3em;
    border: solid;
    border-color: rgba(0,0,0,0.5);
    border-radius: 10%;
    border-width: 1px;
    background-color: rgba(255, 255, 255, 0);}
#header > #button:hover{
    background-color: rgba(255, 255, 255, 0.7);
    height: 4em;
    border-width: 2px;
    background-image: url("Methomyl_Structural_Formulae_.V.1.png");
    background-size: cover;  
    color: rgba(255, 255, 255, 0);
}
#button.span > #button:hover{
    display: none;
}
#size_comparison{
    right: 20%;
    float: right;
    width: 20%;
    margin: 10px;
    margin-top: 20px;
    border-radius: 50%;
}
